databases:
  - name: microblog-db
    databaseName: microblog
    user: microblog
    plan: free

services:
  - type: web
    name: microblog
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt && flask db upgrade
    startCommand: gunicorn microblog:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: microblog-db
          property: connectionString
      - key: LOG_TO_STDOUT
        value: "true"
      - key: FLASK_APP
        value: microblog.py
      - key: PYTHON_VERSION
        value: "3.11.0"
